body
{
    background-image: url("../images/websitebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1
    {
        color: white;
        font-size: 5em;
        font-style: italic;
        text-align: center;
    }

h2
    {
        color: white;
        font-size: 2em;
    }

p
    {
        color: white;
        font-size: 1.5em;
    }

a
    {
        text-align: center;
    }

#problembox
    {
        display: none;
        justify-content: left;
        margin-right: 93em;
        padding: 10px;
        border: solid .5em red;
        background-color: black;
    }

#diagrambox
    {
        display: none;
        justify-content: center;
        margin-top: -29.7em;
        margin-right: 40em;
        margin-left: 30em;
        background-color: black;

        padding: 10px;
        border: solid .5em blue
    }

#diagramimg
    {
        height: 25em;
        width: 46.5em;
    }