body {
    background-image: url("../images/websitebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 5em;
    font-style: italic;
    text-align: center;
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

p {
    color: white;
    font-size: 1.5em;
}

.assign {
    display: flex;
    left: 0px;
}

.hidden {
    opacity: 0%;
}

.assign-problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: solid red 5px;
}

.assign-problem p {
    text-align: center;
}

.assign-problem img {
    width: 75%;
}
.assign-diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: solid blue 5px;
}

.assign-diagram p{
    text-align: center;
}

.assign-diagram img {
    width: 75%;
}

.assign-persona {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: solid lime 5px;
}

.assign-persona p {
    text-align: center;
}
.assign-persona img {
    height: 80%;
    width: 75%;
}

.assign-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: solid yellow 5px;
}

.leftButton, .rightButton {
    height: 55px;
}
.leftButton img, .rightButton img {
    width: 50px;
    height: 50px;
}